<ion-app [class.dark-theme]="dark">
  <ion-menu side="start" contentId="main-content">
    <ion-content>
      <ion-list lines="none">
        <ion-list-header> Principales </ion-list-header>
        <ion-menu-toggle
          autoHide="false"
          *ngFor="let p of appPages; let i = index"
        >
          <ion-item
            [routerLink]="p.url"
            routerLinkActive="selected"
            routerDirection="root"
            detail="false"
          >
            <ion-icon slot="start" [name]="p.icon"></ion-icon>
            <ion-label>
              {{ p.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-list lines="none">
        <ion-list-header> Opciones Extra??? </ion-list-header>

        <ion-menu-toggle autoHide="false">
          <ion-item
            routerLink="/public/account"
            routerLinkActive="active"
            routerDirection="root"
            detail="false"
          >
            <ion-icon slot="start" name="person"></ion-icon>
            <ion-label> Opcion 1 </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item button detail="false">
            <ion-icon slot="start" name="person"></ion-icon>
            <ion-label> Opcion 2 </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <ion-list lines="none">
        <ion-list-header> Administración </ion-list-header>

        <ion-menu-toggle autoHide="false">
          <ion-item
            routerLink="/public/login"
            routerLinkActive="active"
            routerDirection="root"
            detail="false"
          >
            <ion-icon slot="start" name="log-in"></ion-icon>
            <ion-label> Gestión usuarios </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="false">
          <ion-item
            routerLink="/public/support"
            routerLinkActive="active"
            routerDirection="root"
            detail="false"
          >
            <ion-icon slot="start" name="help"></ion-icon>
            <ion-label> Ultimas consultas </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <navbar-comp [user]="user" [darkMode]="dark" [menu]="appPages"></navbar-comp>
  <ion-router-outlet id="main-content"></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-icon name="library-outline"></ion-icon>
        <ion-label>Biblioteca</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="directorio">
        <ion-icon name="folder-open-outline"></ion-icon
        ><ion-label>Directorio</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="speaker">
        <ion-icon name="folder-open-outline"></ion-icon>
        <ion-label>Agenda</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="map">
        <ion-icon name="trail-sign-outline"></ion-icon>
        <ion-label>Proyecto</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Contacto</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
